services:
  fastapi-app:
    build: .
    container_name: fastapi-app
    ports:
      - "8000:8000"
    depends_on:
      elasticsearch:
        condition: service_healthy
      redis:
        condition: service_healthy

    volumes:
      - .:/app
    environment:
      - ENV=development
      - REDIS_URL=${REDIS_URL}
      - OTEL_SERVICE_NAME=fastapi-app
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_EXPORTER=otlp
    env_file:
      - .env
    command: >
      opentelemetry-instrument
      uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

    tty: true

  redis:
    image: redis:alpine
    container_name: redis-app
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes --save 60 1
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ingest.geoip.downloader.enabled=false
      - ES_JAVA_OPTS=-Xms756m -Xmx756m
    ulimits:
      memlock: -1
      nofile: 65536
    ports:
      - "9200:9200"
    volumes:
      - es-data:/usr/share/elasticsearch/data
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-f",
          "http://localhost:9200/_cluster/health?wait_for_status=yellow&timeout=60s",
        ]
      interval: 10s
      timeout: 10s
      retries: 30
      start_period: 30s
  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.0
    container_name: kibana
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"

  filebeat:
    image: docker.elastic.co/beats/filebeat:9.2.0
    container_name: filebeat
    user: root
    depends_on:
      - elasticsearch
    volumes:
      - ./filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - ./logs:/app_logs:ro
    command: ["--strict.perms=false"]

    environment:
      - ELASTICSEARCH_HOST=http://elasticsearch:9200
  otel-collector:
    image: otel/opentelemetry-collector-contrib
    ports:
      - "4318:4318"
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector.yml:/etc/otel-collector-config.yaml

volumes:
  redis_data:
  es-data:

networks:
  default:
    name: fastapi-redis-network
